/********************************* CORES *********************************/
@azul: #0F62AC;

@preto: #000;
@escuro: #222;
@grafite: #333;
@cinzaescuro: #777;
@cinza: #AAA;
@cinzaclaro: #EEE;
@gelo: #F7F7F7;
@branco: #FFF;

@cores:
	azul @azul,
	preto @preto,
	escuro @escuro,
	grafite @grafite,
	cinzaescuro @cinzaescuro,
	cinza @cinza,
	cinzaclaro @cinzaclaro,
	gelo @gelo,
	branco @branco;

.color-classes(@i: length(@cores)) when (@i > 0) {
    .color-classes(@i - 1);
    @color: extract(@cores, @i);
	@nome: extract(@color, 1);
	@cor: extract(@color, 2);
    .c@{nome} { color: @cor; }
	.b@{nome} { background-color: @cor; }
}
.color-classes();

/********************************* GERAL *********************************/
html,body{font-size: 9px;}
*{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alterfont{
	font-family: Open Sans, Arial, Helvetica, sans-serif;
}
.no-transition{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.fast{
	-webkit-transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-o-transition-duration: 100ms;
	transition-duration: 100ms;
}
.clear{
	clear: both;
}
a, button{ text-decoration: none; color: inherit; border: 0; outline: 0; background: none; cursor: pointer; &:hover{ text-decoration: none; } }
ul,ol{ list-style-type: none; .p0; .m0; }
.tabled{
	display: table;
	&>div{display: table-cell; vertical-align: middle;}
}
/*********************************** FORMAS ***********************************/
.il{display: inline;}
.bl{display: block;}
.ib{display: inline-block;}

.rd100{border-radius: 100vh;}
.rd0{border-radius: 0px;}
.rd5{border-radius: 5px;}
.rd10{border-radius: 10px;}

.m0{margin: 0;}

.mb05{margin-bottom: 0.5em;}
.mb1{margin-bottom: 1em;}
.mb2{margin-bottom: 2em;}
.mb3{margin-bottom: 3em;}

.p0{padding: 0;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p20{padding: 20px;}

.pl10{padding-left: 10px;}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}

/*********************************** FONTES TEXTOS ***********************************/
.w100{font-weight: 100;}
.w200{font-weight: 200;}
.w300{font-weight: 300;}
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w600{font-weight: 600;}
.w700{font-weight: 700;}
.w800{font-weight: 800;}
.w900{font-weight: 900;}
.i{font-style: italic;}
.uc{text-transform: uppercase;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.t11{font-size: 1.1rem;}
.t12{font-size: 1.2rem;}
.t13{font-size: 1.3rem;}
.t14{font-size: 1.4rem;}
.t15{font-size: 1.5rem;}
.t16{font-size: 1.6rem;}
.t18{font-size: 1.8rem;}
.t20{font-size: 2.0rem;}
.t22{font-size: 2.2rem;}
.t24{font-size: 2.4rem;}
.t26{font-size: 2.6rem;}
.t28{font-size: 2.8rem;}
.t32{font-size: 3.2rem;}
.t36{font-size: 3.6rem;}
.t37{font-size: 3.7rem;}
.t42{font-size: 4.2rem;}
.t48{font-size: 4.8rem;}
.t56{font-size: 5.6rem;}
.t72{font-size: 7.2rem;}

.lh120{line-height: 120%;}
.lh140{line-height: 140%;}
.lh160{line-height: 160%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}

/*********************************** TOPO ***********************************/
html,body{background-color: #f3f3f3;}
@media all{
	#topo{
		.bbranco; border-top: solid 40px @azul; padding-bottom: 10px;
		.logo{
			margin-top: -30px;
		}
		a#hamburger{ .bl; .t48; .cpreto; padding-top: 25px; &:hover{ .cazul; } }
		#container-menu{
			display: none; .no-transition;
			padding-top: 20px; overflow: hidden;
			ul:not(#menu-midias-sociais){
				width: 100%;
				&>li{
					&>a{ .bl; .t18; .uc; .w900; .cazul; padding: 8px; border-left: solid 5px @branco; }
					&:hover>a{ border-left: solid 10px @azul; padding-left: 15px; }
					&>ul{
						padding: 10px 0px 10px 25px; .bazul; margin-bottom: 5px;
						&>li{
							&>a{ .t16; border-left: solid 5px @azul; .cbranco; }
							&:hover>a{ border-left: solid 10px @branco; padding-left: 15px; }
						}
					}
				}
			}
			ul#menu-midias-sociais{
				li{
					.ib;
					a{
						.t42; padding: 8px;
						&:hover{
							.cazul;
						}
					}
				}
			}
		}
	}
}
@media (min-width:992px){
	#topo{
		padding-bottom: 0;
		#container-menu{
			display: block !important; overflow: visible; position: relative;
			ul:not(#menu-midias-sociais){
				.tr; padding-top: 40px;
				&>li{
					.ib; position: relative;
					&>a{ padding: 10px 20px; border-left: none; }
					&.menu-item-has-children>a{border-left: solid 5px @branco;} /*Tem submenu*/
					&:last-child>a{padding-right: 8px;} /*Correção de alinhamento do último item*/
					&:hover>a{ border-left: none; padding-left: 20px; .cescuro; }
					&.menu-item-has-children:hover>a{border-left: solid 5px @escuro;} /*Hover tem submenu*/
					&>ul{ display: none; }
					&:hover>ul{
						.ib; position: absolute; left: 0px; top: 100%; background-color: rgba(0,0,0,0.8); padding: 10px; .tl; min-width: 250px; z-index: 90;
						&>li{
							.bl; margin-bottom: 2px;
							&>a{ .t16; border-left: solid 5px @cinza; .ccinza; }
							&:hover>a{ border-left: solid 10px @branco; .cbranco; }
						}
					}
				}
			}
			ul#menu-midias-sociais{
				position: absolute; top: 5px; right: 0;
				li{
					a{
						.t36;
					}
				}
			}
		}
	}
}







